.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
}

/* タイトル */
.title {
    font-size: 28px;
    font-weight: bold;
    color: #3b82f6;
    margin-bottom: 20px;
    font-family: 'DotGothic16';
}

/* 当選者リスト */
.winner-list ul {
    list-style: none;
    padding: 0;
}

.winner-list li {
    font-size: 18px;
    padding: 10px;
    margin: 5px 0;
    background-color: #e0f2fe;
    border-radius: 6px;
    font-weight: bold;
    font-family: 'DotGothic16';
}

/* 設定変更のdetailsタグ */
.settings {
    text-align: left;
    margin-bottom: 15px;
}

.settings-summary {
    font-size: 18px;
    font-weight: bold;
    font-family: 'DotGothic16';
    cursor: pointer;
    color: #3b82f6;
}

.form-container {
    width: 100%;
    text-align: center;
}

/* フォームデザイン */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 5px;
    color: #333;
    font-family: 'DotGothic16';
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3b82f6;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #2563eb;
}

/* エラーメッセージ */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* ボタン */
.button {
    display: inline-block;
    width: 100%;
    padding: 12px 24px;
    border: 2px solid #3b82f6;
    color: #3b82f6;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 25px;
    font-family: 'DotGothic16';
    cursor: pointer;
    background-color: white;
    margin-top: 30px;
}

.button:hover {
    background-color: #3b82f6;
    color: white;
}

/* 解散ボタン */
.button.danger {
    border-color: red;
    color: red;
}

.button.danger:hover {
    background-color: red;
    color: white;
}